.env
backup_csv
BTC_hourly_data.csv
btc_daily_data.csv
ETH_hourly_data.csv
eth_daily_data.csv
crypto_data_fetch.log
crypto_data_transformation.log
extraction_daily.log
hourly_loading_script.log
hourly_crypto_data_transformation.log
loading_daily.log
loading_script.log
sol_daily_data.csv
SOL_hourly_data.csv
transformation_daily.log
transformed_BTC_daily_data.csv
transformed_BTC_hourly_data.csv
transformed_ETH_daily_data.csv
transformed_ETH_hourly_data.csv
transformed_SOL_daily_data.csv
transformed_SOL_hourly_data.csv
.idea
.ipynb_checkpoints
